<form class="form-horizontal">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border"><h2>Search title</h2></legend>
    <div class="form-group">
      <label class="control-label col-sm-2 col-sm-offset-1" for="title">Movie title:</label>
      <div class="col-sm-6">
        <input class="form-control" id="title" ng-model="movie.title"/>
      </div>
      <div class="col-sm-2">
        <button ng-click="search(movie)" class="btn btn-block
          btn-default">Search</button>
      </div>
    </div>

    <ul class="media-list tab-pane fade in active">
      <li class="media" ng-repeat="movie in result.movies">
        <div class="media-left media-middle">
          <a href="/movie/{{movie.imdbID}}">
            <img class="media-object img-thumbnail mymovies-thumbnail"
            ng-src={{getImg(movie)}} alt="{{movie.Title}}">
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{movie.Title}}
            <span ng-show="watched(movie.imdbID)">
              <button ng-click="del(movie.imdbID)" class="btn btn-danger">Remove</button>
            </span>
            <span ng-hide="watched(movie.imdbID)">
              <button ng-click="add(movie.imdbID)" class="btn btn-success">Add</button>
            </span></h2>
        </div>
      </li>
    </ul>
  </fieldset>
</form>
